@import url('https://use.fontawesome.com/releases/v5.6.1/css/all.css');

:root {
  --theme_green:#1aa2a1;
  --lightest: #fff;
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* img{width: 100%;} */

body {
  overflow-y: scroll;
  background:#f9f9f9;
}

body.overflow {
  overflow: hidden;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family : 'Montserrat', sans-serif;
  font-weight: 400;
  color: #333;
  font-size: 14px;
  line-height: 1.5;
  /*background: #ADD8E6;*/
  scroll-behavior: smooth;

}
a:hover {
  color: #063939;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container{
  max-width: 1160px;
}


.user_card {
  height: 400px;
  width: 420px;
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  border-radius: 5px;
  
}
.user_card form{
  width:100%;
}
/*.brand_logo_container {
  position: absolute;
  height: 170px;
  width: 170px;
  top: -75px;
  border-radius: 50%;
  background: #fff;
  padding: 10px;
  text-align: center;
  border:1px solid #f7f4f4;
  box-shadow:0 0 10px #edebeb;
}*/
.brand_logo {
  width:180px;
 }
.form_container {
  flex-flow: row wrap;  
}
.form_container h1{
  font-size:32px;
  color:#191970;  
  font-weight:bold; 
}
.login_btn {
  width: 100%;
  background: #1f387c !important;
  color: white !important;
}
.login_btn:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
.login_container button {
  height:45px;
  background:#fff!important;
  width:150px;
  color: #878585!important;
  font-size:14px!important;
  box-shadow:2px 1px 4px #e9dada;
  text-transform:uppercase;
  font-weight:600;
}

.input-group-text {
  background: #1f387c !important;
  color: white !important;
  border: 0 !important;
  border-radius: 0.25rem 0 0 0.25rem !important;
}
.login_icon img{
  width:25px;
  margin:10px 0 0 -43px;
}
.input_user,.input_pass,
.input_pass:focus, .input_user:focus {
  background: #fff!important;
  border:none!important;
  outline: 0px !important;
  box-shadow: 0 0 0 9999px #fff inset;  
  height:50px;
  font-weight:600;
  padding-left:17px;  
}
.input-group{
  box-shadow:2px 1px 4px #e9dada;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  background-color: #4a90e2 !important;
}


@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(10deg);
  }
  30% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(5deg);
  }
  70% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes sonar {
  0% {
    transform: scale(0.9);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
body {
  font-size: 0.9rem;
}
.page-wrapper .sidebar-wrapper,
.sidebar-wrapper .sidebar-brand > a,
.sidebar-wrapper .sidebar-dropdown > a:after,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before,
.sidebar-wrapper ul li a i,
.page-wrapper .page-content,
.sidebar-wrapper .sidebar-search input.search-menu,
.sidebar-wrapper .sidebar-search .input-group-text,
.sidebar-wrapper .sidebar-menu ul li a,
#show-sidebar,
#close-sidebar {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/*----------------page-wrapper----------------*/

.page-wrapper {
  height: 100vh;
}

.page-wrapper .theme {
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 4px;
  margin: 2px;
}

.page-wrapper .theme.chiller-theme {
  background: #1e2229;

}

/*----------------toggeled sidebar----------------*/

.page-wrapper.toggled .sidebar-wrapper {
  left: 0px;
}

@media screen and (min-width: 768px) {
  .page-wrapper.toggled .page-content {
    padding-left: 260px;
    background:#eff3f9;
    height: 100%;
  }
}

.tabcontent{background:#f2f5fa; border-radius:12px;} 
/*----------------show sidebar button----------------*/
#show-sidebar {
  position: fixed;
  left: 0;
  top: 20px;
  border-radius: 0 4px 4px 0px;
  width: 35px;
  transition-delay: 0.3s;
  z-index:9;
  background:#193076;
}
.page-wrapper.toggled #show-sidebar {
  left: -40px;
}
/*----------------sidebar-wrapper----------------*/

.sidebar-wrapper {
  width: 260px;
  height: 100%;
  max-height: 100%;
  position: fixed;
  top: 0;
  left: -300px;
  z-index: 999;
}

.sidebar-wrapper ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border:none;
}
.sidebar-wrapper ul li{
  width:100%;
}
.sidebar-wrapper ul li button{
  background:none;
  border:none;
  padding:8px 30px 8px 20px;
  color:#818896;
}
.sidebar-wrapper ul li button:hover{
  color:#b8bfce;
}
.sidebar-wrapper ul li button.active{
  color: #16c7ff;
}
.sidebar-wrapper ul li a:hover{
  color: #16c7ff!important;
}
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li button:before{
  content: "\f111";
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  font-style: normal;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 10px;
  font-size: 8px;
}
.chiller-theme .sidebar-wrapper .sidebar-dropdown .sidebar-submenu li button:hover:before{
  color:#16c7ff;
} 
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li button:hover{
  color:#b8bfce;
}
.sidebar-wrapper .sidebar-menu ul li button i{
  margin-right: 10px;
  font-size: 12px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 4px;
  background:#3a3f48;
  transition:all 0.3s ease;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
  background:none;
  border:none;
}
.nav-tabs .nav-link{
  border:none;
}
.sidebar-wrapper ul li.active a{
  color:#818896;
}

.sidebar-wrapper a {
  text-decoration: none;
}

/*----------------sidebar-content----------------*/

.sidebar-content {
  max-height:100%;
  height:100%;
  overflow-y: auto;
  position: relative;
  
}

.sidebar-content.desktop {
  overflow-y: hidden;
}

/*--------------------sidebar-brand----------------------*/

.sidebar-wrapper .sidebar-brand {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  font-size:20px;
}

.sidebar-wrapper .sidebar-brand > a {
  text-transform: uppercase;
  font-weight: bold;
  flex-grow: 1;
}

.sidebar-wrapper .sidebar-brand #close-sidebar {
  cursor: pointer;
  font-size: 20px;
}
/*--------------------sidebar-header----------------------*/

.sidebar-wrapper .sidebar-header {
  padding: 17px 0;
  overflow: hidden;
  display:flex;
  align-items:center;
  flex-flow: row wrap;
  justify-content: center;

}

.sidebar-wrapper .sidebar-header .user-pic {
  width: 90px;
  height: 90px;
  padding: 2px;
  border-radius: 12px;
  overflow: hidden;
}

.sidebar-wrapper .sidebar-header .user-pic img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 100%;
  border: 2px solid #668fff;
}

.sidebar-wrapper .sidebar-header .user-info {
  /*float: left;*/
  display: flex;
  width:100%;
  justify-content:center;
}

.sidebar-wrapper .sidebar-header .user-info > span {
  display: block;
}

.sidebar-wrapper .sidebar-header .user-info .user-role {
  font-size: 12px;
}

.sidebar-wrapper .sidebar-header .user-info .user-status {
  font-size: 11px;
  margin-top: 4px;
}

.sidebar-wrapper .sidebar-header .user-info .user-status i {
  font-size: 8px;
  margin-right: 4px;
  color: #5cb85c;
}

/*-----------------------sidebar-search------------------------*/

.sidebar-wrapper .sidebar-search > div {
  padding: 10px 20px;
}

/*----------------------sidebar-menu-------------------------*/

.sidebar-wrapper .sidebar-menu {
  padding-bottom: 10px;
}

.sidebar-wrapper .sidebar-menu .header-menu span {
  font-weight: bold;
  font-size: 14px;
  padding: 15px 20px 5px 20px;
  display: inline-block;
}

.sidebar-wrapper .sidebar-menu ul li a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  position: relative;
  padding: 8px 30px 8px 20px;
}

.sidebar-wrapper .sidebar-menu ul li a i {
  margin-right: 10px;
  font-size: 12px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 4px;
}

.sidebar-wrapper .sidebar-menu ul li a:hover > i::before, .sidebar-wrapper .sidebar-menu ul li button:hover > i::before {
  display: inline-block;
  animation: swing ease-in-out 0.5s 1 alternate;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown > a:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f105";
  font-style: normal;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background: 0 0;
  position: absolute;
  right: 15px;
  top: 14px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu ul {
  padding: 5px 0;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li {
  padding-left: 25px;
  font-size: 13px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before {
  content: "\f111";
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  font-style: normal;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 10px;
  font-size: 8px;
}

.sidebar-wrapper .sidebar-menu ul li a span.label,
.sidebar-wrapper .sidebar-menu ul li a span.badge {
  float: right;
  margin-top: 8px;
  margin-left: 5px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .badge,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .label {
  float: right;
  margin-top: 0px;
}

.sidebar-wrapper .sidebar-menu .sidebar-submenu {
  display: none;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown.active > a:after {
  transform: rotate(90deg);
  right: 17px;
}

/*--------------------------side-footer------------------------------*/

.sidebar-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
}

.sidebar-footer > a {
  flex-grow: 1;
  text-align: center;
  height: 30px;
  line-height: 30px;
  position: relative;
}

.sidebar-footer > a .notification {
  position: absolute;
  top: 0;
}

.badge-sonar {
  display: inline-block;
  background: #980303;
  border-radius: 50%;
  height: 8px;
  width: 8px;
  position: absolute;
  top: 0;
}

.badge-sonar:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid #980303;
  opacity: 0;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  animation: sonar 1.5s infinite;
}

/*--------------------------page-content-----------------------------*/

.page-wrapper .page-content {
  display: inline-block;
  width: 100%;
  padding-left: 0px;
  /*padding-top: 20px;*/
}

/*.page-wrapper .page-content > div {
  padding: 20px 0;
}*/

.page-wrapper .page-content {
  overflow-x: hidden;
}

/*------scroll bar---------------------*/

::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #525965;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #525965;
}
::-webkit-scrollbar-thumb:active {
  background: #525965;
}
::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: transparent;
}
::-webkit-scrollbar-track:active {
  background: transparent;
}
::-webkit-scrollbar-corner {
  background: transparent;
}


/*-----------------------------chiller-theme-------------------------------------------------*/

.chiller-theme .sidebar-wrapper {
    /*background: #31353D;*/
    background:#193076;
}

/*.chiller-theme .sidebar-wrapper .sidebar-header,
.chiller-theme .sidebar-wrapper .sidebar-search,
.chiller-theme .sidebar-wrapper .sidebar-menu {
    border-top: 1px solid #3a3f48;
}*/

.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
    border-color: transparent;
    box-shadow: none;
}

.chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-role,
.chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-status,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text,
.chiller-theme .sidebar-wrapper .sidebar-brand>a,
.chiller-theme .sidebar-wrapper .sidebar-menu ul li a,
.chiller-theme .sidebar-footer>a {
    color: #fff;
}

.chiller-theme .sidebar-wrapper .sidebar-menu ul li:hover>a,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active>a,
.chiller-theme .sidebar-wrapper .sidebar-header .user-info,
.chiller-theme .sidebar-wrapper .sidebar-brand>a:hover,
.chiller-theme .sidebar-footer>a:hover i {
    color: #b8bfce;
}

.page-wrapper.chiller-theme.toggled #close-sidebar {
    color: #bdbdbd;
}

.page-wrapper.chiller-theme.toggled #close-sidebar:hover {
    color: #ffffff;
}

.chiller-theme .sidebar-wrapper ul li:hover a i, .chiller-theme .sidebar-wrapper ul li:hover button i,
.chiller-theme .sidebar-wrapper .sidebar-dropdown .sidebar-submenu li a:hover:before,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu:focus+span,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active a i {
    color: #16c7ff;
    text-shadow:0px 0px 10px rgba(22, 199, 255, 0.5);
}

.logout{
  color: #fff;
  position:absolute;
  top:25px;
  right:30px;
  font-size:15px;
}

.logout:hover{
  text-decoration:none;
  color: #fff;
  opacity:0.7;
}

/*.chiller-theme .sidebar-wrapper .sidebar-menu ul li a i,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown div,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
    background: #3a3f48;
}*/

.chiller-theme .sidebar-wrapper .sidebar-menu .header-menu span {
    color: #6c7b88;
}

.chiller-theme .sidebar-footer {
    background: #3a3f48;
    box-shadow: 0px -1px 5px #282c33;
    border-top: 1px solid #464a52;
    padding-top:10px;
}

.chiller-theme .sidebar-footer>a:first-child {
    border-left: none;
}

.chiller-theme .sidebar-footer>a:last-child {
    border-right: none;
}
.page-content h3{
   font-size:18px;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.emp_detail .count{
  color:#1f387c;
}
.self_ass_form label, .self_ass_form .form-control, .self_ass_form{
  font-family:cursive;
}
.list li{padding:0 10px 0 0;}
.table{width:100%;}
.table td{padding:5px; border:1px solid #dee2e6;}
.table td, .table th{border:1px solid #dee2e6; font-size:11px; padding:12px 4px!important;}
.bootstrap-select{font-size:12px; width:99%!important;}
.bootstrap-select .dropdown-toggle .filter-option-inner-inner{font-size:11px;}
.btn{font-size:11px!important;}
.table tr th{padding:5px 4px!important}
.table tr td{padding:5px 3px!important; vertical-align:middle;} 
.table tr input[type="date"]{width:110px; padding:0 1px; height:28px; font-size:11px;} 
.modal-dialog .bootstrap-select .btn{height:30px;}
.modal-dialog form, .modal-dialog form input, .modal-dialog select{font-size:11px;}
.bootstrap-select .dropdown-menu li a{font-size:11px;}

#Admin.btn{display:block;}

#Supervisor.btn,#HOD.btn,#Employee.btn{display:none;}

#Employee .emp{display:table-cell;}

/*#Supervisor .emp,#HOD .emp,#Admin .emp{display:none}*/

#Supervisor.approval, #HOD.feedback,#Employee.approval, #Employee.feedback, #Employee.rating{display:none;}

/*.modal-dialog input{pointer-events:none;}
#HOD.feedback input, #Supervisor.feedback input, #Employee.target input, #Employee.qant input, #Employee.qantm input{pointer-events:all;}

#Modaladd .modal-dialog input, #Admin.modal-dialog input{pointer-events:all;}

#Admin.approval, #Admin #Manager.approval{display:none;}*/

#Admin .update_all, #Supervisor .rem, #HOD .rem, #Employee.rem{display:none;}

.form-group{margin-bottom:2px!important;}

.table thead{background:#eeeff2;}

body.kpi li.kpi a, body.department li.department a, body.role li.role a,body.common li.common a,body.goal li.goal a,body.period li.period a,body.set_goal li.set_goal a{color:#16c7ff!important;}
.table .btn{margin:0 0 3px 0; padding:5px 5px; text-transform:capitalize;}
.table ol{margin:0 0 0 10px;}
.table ol li{padding:0 0 5px 0;}

.multi_select .bootstrap-select .dropdown-menu li a{position:relative;}
.multi_select .bootstrap-select .dropdown-menu li a:after{position:absolute; content:""; width:15px; height:15px; top:4px; right:10px; border:1px solid #000;}

.form-group label{color:#191970; font-weight:600; line-height:20px;}

.page-wrapper .page-content .top_bar{background:#668fff; padding:20px 30px; position:relative}

.border-radius{border-radius:12px;}
.border-5{border-left:5px solid #eff3f9!important;}


